/* Global layout properties - apply to all color schemes */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
    border: 0;
    padding: 0;
}

table, th, td {
    border-collapse: collapse;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

object, img {
    max-width: 100%;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table, th, td, object {
    border-style: solid;
    border-width: 2px;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
    html, body {
        color: white;
        background-color: black;
    }

    table, th, td, object {
        border-color: white;
    }

    a:link, a:visited {
        color: mediumspringgreen;
    }
}

/* Light mode colors */
@media (prefers-color-scheme: light) {
    html, body {
        color: black;
        background-color: white;
    }

    table, th, td, object {
        border-color: black;
    }

    a:link, a:visited {
        color: darkgreen;
    }
}

/* Light/Dark Mode independent styles */
.highlight {
    color: orangered;
}

/* Redefine underline use for alternate font */
u {
    font-family: icons;
    text-decoration: none;
}

@font-face {
    font-family: icons;
    src: url(materialdesignicons-webfont.ttf)
}
